<?xml version="1.0" encoding="utf-8"?><properties xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.mathsoft.com/extended-properties"><appVersion>11.0.1.0</appVersion><serializationVersion architecture="x64" Culture="en-US" UiCulture="en-US">11.0.0.1</serializationVersion><engineVersion>11.0.1.7</engineVersion><build>2025.08.22.001</build><schemaPropertiesList><schemaProperties name="App" version="1.3.4" /><schemaProperties name="Calculation" version="1.11.0" /><schemaProperties name="Integration" version="1.3.1" /><schemaProperties name="Math" version="5.10.9" /><schemaProperties name="Presentation" version="1.11.0" /><schemaProperties name="Provenance" version="1.3.1" /><schemaProperties name="Result" version="1.8.1" /><schemaProperties name="SimpleTypes" version="1.3.1" /><schemaProperties name="Units" version="12.3.1" /><schemaProperties name="Worksheet" version="5.10.7" /></schemaPropertiesList></properties>